.pdf {
    display: none;
}

@media print {
    * {
        --gray: rgb(212, 212, 212);
    }

    section {
        position: absolute;
        bottom: 0;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .nopdf {
        display: none;
    }

    .pdf {
        display: flex;
    }

    .imagekeepaspect {
        margin: 0 !important;
        padding: 0 !important;
    }

    .imagekeepaspect img {
        width: 90% !important;
    }

    .cols.bottom {
        align-items: end;
    }

    h1 {
        font-size: 4.8rem;
        margin: 0;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 0.4rem;
        margin-top: 0;
    }

    h3 {
        font-size: 2.7rem;
    }

    hr {
        margin: 0.5rem 0;
    }

    .pdflinks {
        max-width: 100%;
        display: block;
        text-align: right;
    }
}