---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="404"
    ogImage="/src/media/404.webp"
    ogDescription="page not found"
    getInTouch="false"
>
    <style>
        section {
            justify-content: center;
            align-items: center;
        }

        h1,
        h3,
        p {
            margin: 0;
        }

        p {
            font-size: 1.2rem;
        }
    </style>

    <div class="space"></div>

    <section>
        <img src="/src/media/404.webp" width="50%" />
        <div class="smallspace"></div>
        <h3>error 404</h3>
        <p>this site was not found</p>
        <p><a href="/#home">back to home?</a></p>
    </section>
</Layout>
