---
import Layout from "../layouts/Layout.astro";
const allPosts = Object.values(
    import.meta.glob("./games/*.md", { eager: true }),
);
---

<Layout title="games" topId="developed">
    <div class="space"></div>
    <p>games</p>
    {
        allPosts.map((post: any) => (
            <li>
                <a href={post.url}>{post.frontmatter.title}</a>
            </li>
        ))
    }
</Layout>
