---
const links = {
    email: "leo.schweiger＠icloud.com",
    resume: "resume-leo-schweiger.pdf",
    linkedin: "https://www.linkedin.com/in/leo-schweiger-256987339/",
    itch: "https://leoschweiger.itch.io/",
    github: "https://github.com/leoschweiger",
};
---

<a
    class="getintouch createsCopyParticle preventSelect"
    href="mailto:leo.schweiger＠icloud.com"
>
    <h2 class="touch1 createsCopyParticle">get in touch</h2>
    <h2 class="touch2 createsCopyParticle">email me</h2>
</a>

<div class="footer fullwidth dark" id="contact">
    <section class="cols c12">
        <div>
            <p class="bigtext">impressum</p>
            <p>Leopold Schweiger</p>
            <p>Urstein Süd 5</p>
            <p>5412 Puch bei Hallein</p>
            <p>Austria</p>
        </div>
        <div>
            <p class="bigtext">contact</p>
            {
                Object.keys(links).map((link) => (
                    <p>
                        <a
                            href={links[link as keyof typeof links]}
                            target="_blank"
                            style="margin: 0"
                        >
                            {link}
                        </a>
                    </p>
                ))
            }
        </div>
    </section>
</div>
