---
import { mainTitle, staticUrl, resume } from "../scripts/config.js";

const title = Astro.props.title || "";
const ogImage = Astro.props.image || "/portrait-leo-schweiger.webp";
const ogDescription = Astro.props.ogDescription || "";
const topId = Astro.props.topId || "";
---

<script>
    import "../scripts/hover.js";
</script>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/src/media/favicon.ico" />

    <link rel="stylesheet" href="/src/styles/style.css" />
    <link rel="stylesheet" href="/src/styles/typography.css" />
    <link rel="stylesheet" href="/src/styles/nav.css" />
    <link rel="stylesheet" href="/src/styles/projects.css" />

    <title>
        {(title.length > 0 ? title + " / " : "") + mainTitle}
    </title>

    <meta property="og:url" content={staticUrl + Astro.url.pathname} />
    <meta property="og:image" content={staticUrl + ogImage} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={ogDescription} />
</head>

<style>
    #header-name::after {
        content: " schweiger";
    }

    @media (max-width: 400px) {
        #header-name::after {
            content: "";
        }
    }
</style>

<nav>
    <a href="/#home" id="header-name" translate="no">leo</a>
    <ul>
        <li><a href="/games#developed">games</a></li>
        <li><a href="/about#leo">about</a></li>
        <li><a href={resume} target="_blank">resume</a></li>
    </ul>
</nav>
<div class="nothing" id={topId}></div>
